.imagem {
  width: 300px;
  height: 300px;
}

.sty h1 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  margin-top: 3rem;
  line-height: normal;
  margin-left: 1rem;
}

.sty h5 {
  text-align: left;
  font-family: "Noto Serif";
  font-weight: lighter;
  margin-left: 4rem;
  margin-top: 1rem;
}
