.font {
  font-size: 48px;
  justify-content: center;
  font-family: "Noto Serif";
}

.font h2 {
  font-size: 42px;
  text-align: center;
}

.fontb {
  font-size: 28px;
  font-family: "Noto Serif";
}

.fontc h5 {
  text-align: right;
  justify-content: flex-end;
}
