.bdr {
  border-top: 1px solid #af3232 !important;
}

.bdr2 {
  border-top: 1px solid #af3232 !important;
}

.fontek {
  font-family: Montserrat Alternates;
  justify-content: center;
  vertical-align: top;
}
